*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Bebas Neue', cursive;
}

.imgProductos{
    max-width: 30vh;
    margin: 15px;
    &:hover{
        transform: scale(1.11);
        transition-property: all;
        transition-duration: 1s;
    }
}
.divProductos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    h5{
        margin: 5px;
        font-size: 23px;
    }
    p{
        font-size: 20px;
        margin: 5px;
        text-align: center;
    }
    button{
        font-size: 3vh;
        padding: 5px;
        display: block;
        &:hover{
            background-color: #008CBA;
            color: white;
        }
    }
    .divButton{
        display: flex;
        flex-direction: row;
        button{
            margin: 10px;
        }
    }
    .buttonInfo{
        font-size: 20px;
        padding: 10px;
    }
    .buttonProductos{
        background-color: rgb(219, 167, 103);
        color: white;
        padding: 25px;
        margin: 20px;
        &:hover{
            background-color: rgb(224, 139, 36);
        }
    }
}
